<footer class="container w-full">
    <div class="grid grid-cols-3 gap-3 bg-slate-800 text-cyan-50">
        <div class="ml-10 my-4">
            <h2 class="text-2xl">For current students</h2>
            <li class="list-none py-4" >
                <a href="#">Email(Outlook)</a>
            </li>
            <li class="list-none" >
                <a  href="#">MyCourses</a>
            </li>
            <li class="list-none py-4" >
                <a href="#">Minerva</a>
            </li>
            <li class="list-none" >
                <a  href="#">MuMcGill</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Library</a>
            </li>
            <li class="list-none" >
                <a  href="#">Programs and Courses</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Resources and Services</a>
            </li>
        </div>
        <div class="my-4"  >
            <h2 class="text-2xl">For faculty & staff</h2>
            <li class="list-none py-4" >
                <a href="#">Email(Outlook)</a>
            </li>
            <li class="list-none" >
                <a  href="#">Minerva</a>
            </li>
            <li class="list-none py-4" >
                <a href="#">Workday</a>
            </li>
            <li class="list-none" >
                <a  href="#">MyCourses</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Staff Directory</a>
            </li>
            <li class="list-none" >
                <a  href="#">Human Resources</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">MyMcGill</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Banner INB</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Resources and Services</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Teaching and Learning Services</a>
            </li>
        </div>
        <div class="ml-10 my-4">
            <h2 class="text-2xl">For alumni & friends</h2>
            <li class="list-none py-4" >
                <a href="#">Alumini Email</a>
            </li>
            <li class="list-none" >
                <a  href="#"> The McGill alumni network</a>
            </li>
            <li class="list-none py-4" >
                <a href="#"> Attend an event</a>
            </li>
            <li class="list-none" >
                <a  href="#"> Volunteer</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#">Alumini Benefits</a>
            </li>
            <li class="list-none" >
                <a  href="#">Give Back</a>
            </li>
            <li class="list-none py-4" >
                <a  href="#"> McGill News alumni magazine </a>
            </li>
            <li class="list-none py-4 text-base" >
                <a  href="#"> Transcripts </a>
            </li>
        </div>
    </div>
    <div class="grid grid-cols-4 gap-4 bg-gray-950 text-cyan-50 border-b border-white">
        <div class="my-4 mx-2 ml-8" >
            <h2 class="text-2xl py-4" >In an emergency</h2>
            <p class="py-2"> <a  href="#">514-398-3000 (downtown campus)</a> </p>
            <p class="py-2"> <a  href="#">514-398-7777 (Macdonald campus)</a> </p>
        </div>
        <div class="my-4 mx-2"> 
            <h2 class="text-2xl"> Visit </h2>
            <li class="list-none py-2">
                <a href="#">Take the virtual tour</a>
            </li>
            <li class="list-none py-2">
                <a href="#">Campus map</a>
            </li>
            <li class="list-none py-2">
                <a href="#">845 Sherbrooke Street West</a>
            </li>
            <li class="list-none py-2">
                <a href="#">Montréal (Québec)  H3A 0G4</a>
            </li>
        </div>
        <div class="my-4 mx-2">
            <h2 class="text-2xl"> Get in touch </h2>
            <li class="list-none py-2">
                <a href="#">Contact us</a>
            </li>
            <li class="list-none py-2">
                <a href="#">AskMcGill</a>
            </li>
            <li class="list-none py-2">
                <a href="#">Hire a student</a>
            </li>
            <li class="list-none py-2">
                <a href="#">Media Relations</a>
            </li>
            <li class="list-none py-2">
                <a href="#">Community Engagement</a>
            </li>
        </div>
        <div class="my-4 mx-2">
            <h2 class="text-2xl" > Explore </h2>
            <li class="list-none py-2">
                <a href="#">Careers</a>
            </li>
            <li class="list-none py-2">
                <a href="#">News</a>
            </li>
            <li class="list-none py-2">
                <a href="#">Events</a>
            </li>
        </div>
    </div>
    <div class=" flex flex-row bg-gray-950 text-cyan-50 h-16 items-center justify-center " >
        <h1 class="pl-4 py-4 px-6">McGill</h1>
        <p class="py-4" > Copyright © 2023 McGill University. </p>
        <li class="list-none py-4 px-8">
            <a href="#">Accessibility</a>
        </li>
        <li class="list-none py-4 px-8">
            <a href="#">Privacy Notice</a>
        </li>
        <li class="list-none py-4 px-8">
            <a href="#">Privacy notice</a>
        </li>
    </div>
</footer>