<header class="bg-white h-20 ">
    <nav class="flex flex-row mx-4 h-16 shadow-lg ">
        <div class="basis-1/4 ml-4">
            <h1 class="text-2xl text-cyan-50 py-2 bg- w-28 h-16 bg-red-800 text-center ">McGill</h1>
        </div>
        <div class="basis-3/4">
            <ul class="flex">
                <li class=" text-lg px-6 py-4 font-normal">
                    <a href="">Admissions</a>
                </li>
                <li class="px-6 py-4 font-normal text-lg">
                    <a href="">Student Life</a>
                </li>
                <li class="px-6 py-4 font-normal text-lg">
                    <a href="">Why Montreal</a>
                </li>
                <li class="px-6 py-4 font-normal text-lg">
                    <a href="">About McGill</a>
                </li>
            </ul>
        </div>
    </nav>
</header>