<footer class="w-full">
    <div class="flex flex-row">
        <div class="grid grid-cols-4 bg-gray-100 gap-5">
            <div class="my-4 mx-4 px-6 py-6">
                <h1 class=" text-2xl font-bold py-2">Institutional Communications</h1>
                <p>James Administration Building
                    845 Sherbrooke Street West
                    Montreal, Quebec H3A 0G4
                    514-398-6693</p>
                <a href="#">Contact info</a>
            </div>
            <div class="my-4 mx-4 px-6 py-6">
                <h1 class=" text-2xl font-bold py-2">McGill news</h1>
                
                    <a href="#"> Campus news</a> <br>
                    <a href="#"> News releases </a> <br>
                    <a href="#"> McGill dans la ville </a> <br>
                    <a href="#"> Office of the Principal </a> <br>
                    <a href="#"> Office of the Provost </a> <br>
            
            </div>
            <div class="my-4 mx-4 px-6 py-6">
                <h1 class=" text-2xl font-bold py-2">Institutional Communications</h1>
                <li class="list-none">
                    <a href="#">For Faculty and staff</a>
                </li>
                <li class="list-none">
                    <a href="#">For Faculty Journalists</a>
                </li>
                <li class="list-none">
                    <a href="#">McGill expert guide</a>
                </li>
                <li class="list-none">
                    <a href="#">Ask McGill</a>
                </li>
            </div>
            <div class="my-4 mx-4 px-6 py-6">
                <h1 class=" text-2xl font-bold py-2">McGill Facts</h1>
                <li class="list-none"> <a href="#">About McGill</a> </li>
                <li class="list-none"> <a href="#">Quick facts</a> </li>
                <li class="list-none"> <a href="#">History</a> </li>
                <li class="list-none"> <a href="#">Administration</a> </li>
            </div>
        </div>
    </div>
    <div class="bg-gray-800 w-full flex justify-between  px-6 py-6">
        <a href="https://www.mcgill.ca/" class="text-white text-2xl border-2 hover:bg-lime-500  px-2 pl-2 ">McGill</a>
        <p class="text-center text-white  inline-block">
            Copyright © 2023 McGill University
        </p>
        <p class="pr-8">
            <a href="#" class="text-white">Accessibility <span> <a href="#" class="border-2 px-2 text-white">login</a> </span> </a>
        </p>
    </div>
     
</footer>