<header class="w-full">
    <nav class="grid grid-row-2">
        <div class="bg-gray-100 flex justify-between " >
            <div class="flex items-center  mt-6 mb-4 pb-4 ml-20 pl-16" >
                <li class="list-none">
                    <a href="#">
                        <h1 class="text-3xl font-bold text-red-500 border-r-2 border-gray-500 px-2 ">McGill</h1>
                    </a>
                </li> 
                <li class="list-none px-3">
                    <a href="#">
                        <h1 class="text-2xl  text-gray-800  ">NewsRoom</h1>
                    </a>
                    <p>Institutional Communications</p>
                </li> 
            </div>
            <div class=" flex justify-end pr-8">
                <form action="#" method="post" class="p-6" >
                    <input type="search" placeholder="search" class="py-2 px-2 inline-block"  >
                   <span> <button type="button" class="bg-red-300 px-3 py-2" >Submit</button></span> 
                </form>
            </div>
            
        </div>
        <div class="bg-gray-800 text-white justify-start" > 
            <ul class="flex ml-28 pl-10">
                <li class="list-none p-2 hover:bg-gray-900" >
                    <a href="#">For Journalists</a>
                </li>
                <li class="list-none p-2 hover:bg-gray-900" >
                    <a href="#">For Faculty and Staff</a>
                </li>
                <li class="list-none p-2 hover:bg-gray-900" >
                    <a href="#">Expert Guide</a>
                </li>
                <li class="list-none p-2 hover:bg-gray-900" >
                    <a href="#">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>